.logo {
	position: fixed;
	z-index: var(--z-logo);
	top: var(--padding);
	right: var(--padding);
	color: var(--c-black);

	figure {
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	}

	span {
		display: block;
		font-size: 1em;
	}

	span:not(:last-child) {
		margin-bottom: 0.3em;
	}
}
