:root {
	--c-green: #26dc4e;
	--c-green-light: #77dd86;

	--c-yellow: #fff310;
	--c-yellow-light: #ffffb3;

	--c-red: #f03008;
	--c-red-light: #ffb6c1;

	--c-white: #fff;
	--c-gray-light: #cfcfcf;
	--c-gray: #b8b8b8;
	--c-black: #060600;
}
