.editor-shortcuts {
	--border-color: var(--c-black);
	position: fixed;
	z-index: var(--z-editor-help);
	bottom: var(--padding);
	left: var(--padding);
	color: var(--c-black);

	.shortcut {
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
	}

	li:not(:first-child) {
		margin-top: 0.8em;
	}


	&:not(.visible) li:not(:first-child) {
		display: none;
	}

	&:not(.visible) li:first-child {
		--border-color: var(--c-gray-dark);
		color: var(--c-gray-dark);

		span {
			// display: none;
			opacity: 0.7;
		}
	}

	.shortcut figure {
		min-width: 2em;
		margin-right: 0.8em;
		padding: 0.4em 0.5em 0.5em;
		border: 1px solid var(--border-color);
		border-radius: 4px;
		box-shadow: 0 1px 0 0 var(--border-color);
		font-size: 0.8em;
		font-weight: 600;
		line-height: 1em;
		text-align: center;
		// text-transform: lowercase;
	}
}
